target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.launch
.settings/.jsdtscope
build_log.txt
.settings/.jsdtscope
target/
.settings/.jsdtscope
.settings/.jsdtscope
src/main/webapp/META-INF/MANIFEST.MF
src/main/webapp/WEB-INF/web.xml
target/classes/application.properties
target/classes/application.properties
target/classes/com/team/Application.class
target/classes/META-INF/MANIFEST.MF
