<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>卡池后台管理系统</title>
	
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/default/easyui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/icon.css}"/>
	  <!--<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>-->
	<script type="text/javascript" th:src="@{/js/jquery-1.6.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<style type="text/css">
		.selected{  background: #ffe48d !important;}
		.userName .l-btn-text{font-size:14px!important}
	</style>
</head>
<body class="easyui-layout" >
		<!-- 定义上面的层 -->
		<div region="north" title="" style="height:65px;background:rgb(78,151,227);overflow:hidden" >
			<div class="top-left">
				<h1 style="cursor: pointer" onclick="toIndex()">卡池后台管理系统</h1>
			</div>
			<div class="top-right">
				<ul>
					<li class="icon-q"><a th:href="@{/logout}">退出登录</a></li>
					<li class=""><a class="userName" href="javascript:void(0)"></a></li>
					<li class="icon-o"><a class="departmentName" href="javascript:void(0)"></a></li>
				</ul>
			</div>
		</div>
		<!-- 定义下面的层 -->
		<div region="south" title=""  style="height:0">
			
		</div>
		<!-- 定义右边的层 -->
		<div region="east" iconCls="icon-reload" title="Tree Menu" split="true" style="width:0px;">
			
		</div>
		<!-- 定义左边的层 -->
		<div region="west" split="false" title="菜单-导航" style="width:200px;padding:1px;overflow:hidden;">
			<div id="nav" class="easyui-accordion" fit="true" border="false">
				
			</div>
		</div>
		<!-- 定义中间层 -->
		<div region="center" title="" style="overflow:hidden;" id="mainPanle" >
			<div id="tabs" class="easyui-tabs" fit="true" border="false" style="background:#fff url('images/welcome.jpeg') center center no-repeat">
				<!--<div title="欢迎窗口" style="background:url('images/welcome.jpeg') center center no-repeat" iconCls="icon icon-whome">-->
				<!--<div title="欢迎窗口"  iconCls="icon icon-whome">-->
					<!--<iframe th:src="@{/stat/index}" style="width:100%;height:100%;" scrolling="auto" frameborder="0"></iframe>-->
			    <!--</div>-->
			</div>
		</div>
	<div id="mm" class="easyui-menu" style="width:150px;">
		<div id="mm-tabupdate" iconCls="icon-reload">刷新</div>
		<div id="mm-tabclose">关闭</div>
		<div id="mm-tabcloseall">全部关闭</div>
		<div id="mm-tabcloseother">除此之外全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseright">当前页右侧全部关闭</div>
		<div id="mm-tabcloseleft">当前页左侧全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-exit">退出</div>
	</div>
	<div id="userMenu" style="width:100px" class="easyui-menu">
		<div id="modifyPwd" iconCls="icon icon-key" onclick="modifyPwd()">修改密码</div>
	</div>
	<div class="easyui-dialog" style="width:350px;height:220px;padding:10px" iconCls="icon icon-key" title="修改密码" modal="true" closed="true" id="pwdDialog">
		<form id="pwdForm">
			<table class="table">
				<tr>
					<td class="noborder">旧密码：</td><td class="noborder "><input name="oldPwd" class="easyui-validatebox" required="true" type="password"/></td>
				</tr>
				<tr>
					<td class="noborder">新密码：</td><td class="noborder"><input id="newPwd" name="newPwd" class="easyui-validatebox" required="true" type="password"/></td>
				</tr>
				<tr>
					<td class="noborder">重复新密码：</td><td class="noborder"><input name="repeatPwd" class="easyui-validatebox" required="true" type="password" validType="equals['#newPwd']"/></td>
				</tr>
				<tr>
					<td colspan="2" class="noborder" style="text-align:center;padding-top:20px">
						<a  class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="submit()">提交</a></td>
				</tr>
			</table>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/js/index.js}">

</script>
</body>
</html>
