<!DOCTYPE html>
<html>
  <head>
    <title>testThymeleaf.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3"/>
    <meta http-equiv="description" content="this is my page"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>

  </head>
  
  <body>
    This is thymeleaf page. <br/>
    <div th:text="${student.name}"></div>
    
    <div th:if="${not#lists.isEmpty(studentList)}">
    	<span>列表</span>
    	<ul>
    		<li th:each="item:${studentList}">
    			<span th:text="${item.name}"></span>
    			<span th:text="${item.age}"></span>
    			<button th:onclick="'getName(\''+${item.name}+'\')'">获取名字</button>
    		</li>
    	</ul>
    
    </div>
    
    <button onclick="location.href='site/index.html'">跳转</button>
  </body>
  <script type="text/javascript">
  	function getName(name){
  		alert(name);
  	}
  </script>
</html>
