<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.ChannelCardDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<select id="getChannelCardList" resultType="com.team.model.ChannelCard" parameterType="java.util.Map">
		select r.*
			   ,ifnull(t.namecn,t.countryname) countryName
			   ,case k.OPERATORNAMECN when 'China Mobile' then '中国移动' 
					 				  when 'China Unicom' then '中国联通' 
					 				  when 'China Telecom' then '中国电信'
									  when 'China Tietong' then '中国铁通' 
									  else OPERATORNAMECN end operatorName
			   ,d.name departmentName
		from m_channel_card r
		left join m_country t
		on r.countrycode=t.countrycode
		left join m_operator k 
	    on r.OPERATORCODE=k.OPERATORCODE
	    left join m_simcard c
	  	on r.imsi=c.imsi
	  	left join m_department d
		on c.departmentId=d.id and d.status=0
		where 1=1
		<if test="countryCode!=null" >  
         	and r.countrycode = #{countryCode,jdbcType=INTEGER}  
        </if>
		<if test="operatorCode!=null" >  
         	and r.operatorCode = #{operatorCode,jdbcType=INTEGER}  
        </if>
        <if test="number!=null and number!=''" >  
         	and r.number = #{number,jdbcType=VARCHAR}
        </if>
          <if test="status!=null" >  
         	and r.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="departmentId!=null">
        	and d.id=#{departmentId,jdbcType=INTEGER}
        </if>
        <include refid="dId"></include>
	</select> 
	
	<update id="deleteChannelCards" parameterType="java.util.List">
		update  m_channel_card 
		set status=1 where id in(
		<foreach collection="list" item="item"  separator="," >
		 #{item,jdbcType=INTEGER}
		</foreach>
		)
	</update>
	
	<update id="updateChannelCard" parameterType="com.team.model.ChannelCard">
		update m_channel_card 
		set imsi=#{imsi,jdbcType=BIGINT},
			number=#{number,jdbcType=VARCHAR},
			iccid=#{iccid,jdbcType=VARCHAR},
			operatorcode=#{operatorCode,jdbcType=INTEGER},
			countrycode=#{countryCode,jdbcType=INTEGER},
			mcnumber=#{mcNumber,jdbcType=VARCHAR},
			detail=#{detail,jdbcType=VARCHAR},
			balance=#{balance,jdbcType=DOUBLE},
			status=#{status,jdbcType=INTEGER}
		where id=#{id,jdbcType=INTEGER}
	</update>
	
	<insert id="insertChannelCard" parameterType="com.team.model.ChannelCard" >
		insert into m_channel_card 
		(imsi,number,iccid,operatorcode,countrycode,mcnumber,detail,balance,rechargetime,status) 
		values
		(#{imsi,jdbcType=BIGINT},
		 #{number,jdbcType=VARCHAR},
		 #{iccid,jdbcType=VARCHAR},
		 #{operatorCode,jdbcType=INTEGER},
		 #{countryCode,jdbcType=INTEGER},
		 #{mcNumber,jdbcType=VARCHAR},
		 #{detail,jdbcType=VARCHAR},
		 #{balance,jdbcType=DOUBLE},
		 #{rechargeTime,jdbcType=TIMESTAMP},
		 #{status,jdbcType=INTEGER}
		)
	</insert>
</mapper>