<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.ChannelCardDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<!--<select id="getChannelCardList" resultType="com.team.model.ChannelCard" parameterType="java.util.Map">
		select r.*
			   ,ifnull(t.namecn,t.countryname) countryName
			   ,concat(k.OPERATORNAMECN,'(',r.OPERATORCODE,')') operatorName
			   ,d.name departmentName
		from m_channel_card r
		left join m_country t
		on r.countrycode=t.countrycode
		left join m_operator k 
	    on r.OPERATORCODE=k.OPERATORCODE
	    left join m_simcard c
	  	on r.imsi=c.imsi
	  	left join m_department d
		on c.departmentId=d.id and d.status=0
		where 1=1
		<if test="countryCode!=null" >  
         	and r.countrycode = #{countryCode,jdbcType=INTEGER}  
        </if>
		<if test="operatorCode!=null" >  
         	and r.operatorCode = #{operatorCode,jdbcType=INTEGER}  
        </if>
        <if test="imsi!=null" >
         	and r.imsi = #{imsi,jdbcType=VARCHAR}
        </if>
          <if test="status!=null" >  
         	and r.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="departmentId!=null">
        	and d.id=#{departmentId,jdbcType=INTEGER}
        </if>
        <include refid="dId"></include>
	</select> -->
	<select id="getChannelCardList" resultType="com.team.model.ChannelCard" parameterType="java.util.Map">
		select distinct tsid,
			   r.assistant imsi,
			   (select t.sversion from m_terminal t where r.tsid=t.tsid) number
			   ,ifnull(c.namecn,c.countryname) countryName
			   ,concat(o.OPERATORNAMECN,'(',t.OPERATORCODE,')') operatorName
		from m_select_card r
		left join m_simcard t on r.assistant=t.imsi
		left join m_operator o on o.operatorCode=t.operatorCode
		left join m_country c on c.countryCode=t.countryCode
		where r.assistant>0
		<if test="tsid!=null">
			and tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null">
			and r.assistant=#{imsi,jdbcType=BIGINT}
		</if>
	</select>
	
	<update id="deleteChannelCards" parameterType="java.util.List">
		update  m_channel_card 
		set status=2 where id in(
		<foreach collection="list" item="item"  separator="," >
		 #{item,jdbcType=INTEGER}
		</foreach>
		)
	</update>
	
	<update id="updateChannelCard" parameterType="com.team.model.ChannelCard">
		update m_channel_card 
		set imsi=#{imsi,jdbcType=BIGINT},
			number=#{number,jdbcType=VARCHAR},
			iccid=#{iccid,jdbcType=VARCHAR},
			operatorcode=#{operatorCode,jdbcType=INTEGER},
			countrycode=#{countryCode,jdbcType=INTEGER},
			mcnumber=#{mcNumber,jdbcType=VARCHAR},
			detail=#{detail,jdbcType=VARCHAR},
			balance=#{balance,jdbcType=DOUBLE},
			status=#{status,jdbcType=INTEGER},
			tsid=#{tsid,jdbcType=INTEGER},
			rechargeTime=#{rechargeTime,jdbcType=TIMESTAMP}
		where id=#{id,jdbcType=INTEGER}
	</update>
	
	<insert id="insertChannelCard" parameterType="com.team.model.ChannelCard" >
		insert into m_channel_card 
		(imsi,number,iccid,operatorcode,countrycode,mcnumber,detail,balance,rechargetime,status,tsid)
		values
		(
		 #{imsi,jdbcType=BIGINT},
		 #{number,jdbcType=VARCHAR},
		 #{iccid,jdbcType=VARCHAR},
		 #{operatorCode,jdbcType=INTEGER},
		 #{countryCode,jdbcType=INTEGER},
		 #{mcNumber,jdbcType=VARCHAR},
		 #{detail,jdbcType=VARCHAR},
		 #{balance,jdbcType=DOUBLE},
		 #{rechargeTime,jdbcType=TIMESTAMP},
		 #{status,jdbcType=INTEGER},
		 #{tsid,jdbcType=INTEGER}
		)
	</insert>
</mapper>