<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.CostDayDao">

  	<select id="getCostDayByTsid" resultType="com.team.model.CostDay" >
	    select 
			r.id,
			r.date,
			r.beginTime,
			r.tsid,
			r.duration,
			r.flow,
			r.cost,
			r.rxFlow,
			r.txFlow,
			r.additionalFlow,
			r.isLocal,
			r.countryCode,
			ifnull(t.namecn,t.countryname) countryName
	    from m_cost_day r
	    left join m_country t
	    on r.countryCode = t.countryCode
	    where r.tsid = #{tsid,jdbcType=INTEGER}
	    order by r.beginTime desc
  	</select>

</mapper>