<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.CountryDao">
    
    <select id="list" resultType="com.team.model.Country">
        select * from m_country
        where 1=1
        <if test="nameCn!=null and nameCn!=''">
            and nameCn like concat('%',#{nameCn,jdbcType=VARCHAR},'%')
        </if>
        order by countryCode
    </select>
    
    <select id="getSelected" resultType="com.team.model.Country">
        select * from m_country
        where countryCode in 
        <foreach collection="array" open="(" separator="," close=")" item="item">
            #{item,jdbcType=INTEGER}
        </foreach>
        order by countryCode
    </select>

    <select id="getCountry" resultType="com.team.model.Country">
    	select * from m_country
    	where countryCode=#{countryCode,jdbcType=INTEGER}
    </select>

</mapper>