<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.FlowMonthDao">
	
	<update id="updateMonthFlowByPackage" parameterType="com.team.model.SimPackage">
		<![CDATA[
		update m_flow_month r
		set r.MAXFLOW=#{maxFlow,jdbcType=INTEGER} , 
			r.RESIDUEFLOW=#{maxFlow,jdbcType=INTEGER}-r.USEDFLOW,
			r.MAXROAMFLOW=#{maxRoamFlow,jdbcType=INTEGER} , 
			r.RESIDUEROAMFLOW=#{maxRoamFlow,jdbcType=INTEGER}-r.USEDROAMFLOW,
			r.LASTUPDATETIME=now()
		where exists (select 1 from m_simcard t where r.IMSI=t.imsi and t.PACKAGEID=#{id,jdbcType=INTEGER})
		  and r.ACCOUNTPERIODENDDATE>=now() 
		  and r.ACCOUNTPERIODSTARTDATE<=now()
		]]>
	</update>
	
	<update id="updateMonthFlowBySimCard" parameterType="com.team.model.FlowMonth">
		update m_flow_month
		set date=#{date,jdbcType=VARCHAR},
			accountPeriodStartDate = #{accountPeriodStartDate,jdbcType=TIMESTAMP},
			accountPeriodEndDate = #{accountPeriodEndDate,jdbcType=TIMESTAMP},
			usedFlow = #{usedFlow,jdbcType=INTEGER},
			residueFlow = #{residueFlow,jdbcType=INTEGER},
			usedRoamFlow = #{usedRoamFlow,jdbcType=INTEGER},
			residueRoamFlow = #{residueRoamFlow,jdbcType=INTEGER},
			lastUpDatetime = #{lastUpDatetime,jdbcType=TIMESTAMP},
			maxFlow = #{maxFlow,jdbcType=INTEGER},
			maxRoamFlow = #{maxRoamFlow,jdbcType=INTEGER}
		where id=#{id,jdbcType=INTEGER}
	</update>

	<select id="get" parameterType="java.util.Map" resultType="com.team.model.FlowMonth">
		<![CDATA[
		select * from m_flow_month
		where accountPeriodStartDate <= #{nowDate,jdbcType=TIMESTAMP}
		  and accountPeriodEndDate > #{nowDate,jdbcType=TIMESTAMP}
		  and imsi=#{imsi,jdbcType=BIGINT}
		]]>
	</select>
	
	<insert id="save" parameterType="com.team.model.FlowMonth" useGeneratedKeys="true" keyProperty="id">
		insert into m_flow_month
		(imsi,date,accountPeriodStartDate,accountPeriodEndDate,usedFlow,residueFlow,usedRoamFlow,residueRoamFlow,lastUpDatetime,maxFlow,maxRoamFlow)
		values
		(
		   #{imsi,jdbcType=BIGINT},
		   #{date,jdbcType=VARCHAR},
		   #{accountPeriodStartDate,jdbcType=TIMESTAMP},
		   #{accountPeriodEndDate,jdbcType=TIMESTAMP},
		   #{usedFlow,jdbcType=INTEGER},
		   #{residueFlow,jdbcType=INTEGER},
		   #{usedRoamFlow,jdbcType=INTEGER},
		   #{residueRoamFlow,jdbcType=INTEGER},
		   #{lastUpDatetime,jdbcType=TIMESTAMP},
		   #{maxFlow,jdbcType=INTEGER},
		   #{maxRoamFlow,jdbcType=INTEGER}
		)
	</insert>
	
</mapper>