<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.auth.OperationLogDao">

	<insert id="saveLog" parameterType="com.team.model.auth.OperationLog">
		insert into sys_operation_log
		(username,departmentid,ip,bussinesstype,operation,`desc`,createtime)
		values
		( 
		 #{username,jdbcType=VARCHAR},
		 #{departmentid,jdbcType=INTEGER},
		 #{ip,jdbcType=VARCHAR},
		 #{bussinesstype,jdbcType=VARCHAR},
		 #{operation,jdbcType=VARCHAR},
		 #{desc,jdbcType=VARCHAR},
		 now()
		 )
	</insert>
	
	<select id="getLogList" resultType="com.team.model.auth.OperationLog">
		select *
		from sys_operation_log
		where 1=1
		<if test="username!=null and username!=''">
			and username=#{username,jdbcType=VARCHAR}
		</if>
		order by createtime desc
	</select>
</mapper>