<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.QuartzCronDao">

	<select id="get" resultType="com.team.model.QuartzCron">
		select * from tb_quartz_cron
	</select>

	<update id="update" parameterType="com.team.model.QuartzCron">
		update tb_quartz_cron
		set problemcardMinute = #{problemcardMinute,jdbcType=INTEGER},
			problemcardCronstr = #{problemcardCronstr,jdbcType=VARCHAR},
			statusProblemcard = #{statusProblemcard,jdbcType=INTEGER},
			isHandleProblemcard = #{isHandleProblemcard,jdbcType=INTEGER},
			thresholdProblemcard = #{thresholdProblemcard,jdbcType=INTEGER},
			thresholdAlarm = #{thresholdAlarm,jdbcType=INTEGER},
			statusMsg = #{statusMsg,jdbcType=INTEGER},
			msgMinute = #{msgMinute,jdbcType=INTEGER},
			msgCronstr = #{msgCronstr,jdbcType=VARCHAR},
			msgPhone = #{msgPhone,jdbcType=VARCHAR},
			statTerminalMinute = #{statTerminalMinute,jdbcType=INTEGER},
			lasttime = now()
	</update>

</mapper>