<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.ReadyTerminalSimDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<select id="list" resultType="com.team.model.ReadyTerminalSim"
		parameterType="java.util.Map">
		select r.*,
			   c.name operatorName
		from m_ready_terminal_sim r
		left join m_customer c
		on r.operator=c.id
		left join m_terminal t on r.tsid=t.tsid
		left join m_department d on t.departmentId=d.id
		where 1=1
		<if test="tsid!=null ">
			and r.tsid like #{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null ">
			and r.imsi like #{imsi,jdbcType=BIGINT}
		</if>
		<include refid="dId"/>
		order by tsid,insertDate desc
	</select>

	<select id="getBydId" resultType="com.team.model.ReadyTerminalSim">
		select * from m_ready_terminal_sim
		where id=#{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="com.team.model.ReadyTerminalSim">
		delete from
		m_ready_terminal_sim
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="java.util.List">
		insert into m_ready_terminal_sim ( TSID, imsi,
		lastStatus, insertDate, operator,type)
		values
		<foreach collection="list" item="l" separator=",">
			(
			#{l.tsid,jdbcType=INTEGER},
			#{l.imsi,jdbcType=BIGINT},
			#{l.lastStatus,jdbcType=INTEGER},
			now(),
			#{l.operator,jdbcType=INTEGER},
			#{l.type,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
	
	<update id="update" parameterType="com.team.model.ReadyTerminalSim">
		update m_ready_terminal_sim
		set operator = #{operator,jdbcType=INTEGER},
			type = #{type,jdbcType=INTEGER},
			imsi = #{imsi,jdbcType=BIGINT},
			insertDate=now(),
			lastStatus=#{lastStatus,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>