<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SelectCardDao">

	<select id="list" resultType="com.team.model.SelectCard" parameterType="java.util.Map">
		select r.tsid,
			   r.released,
			   r.mcc,
			   concat(o.operatornamecn,' (',o.operatorCode,')') operatorName,
			   r.result_code,
			   r.assistant,
			   r.selectDate
		from m_select_card r
		left join m_operator o on r.operator=o.operatorCode
		where r.result_code != 0
		<if test="tsid!=null">
			  and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="startDate!=null">
			  and (r.selectDate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		order by r.selectDate desc
	</select>

	<select id="listSelectCardLog" parameterType="java.util.Map" resultType="com.team.model.SelectCard">
		select  r.tsid,
				r.imsi,
				r.released,
				r.selectdate,
				(select authtime from m_auth_log t where r.imsi=t.imsi and r.tsid=t.tsid and t.authtime between r.selectdate and adddate(r.selectdate,interval 1 minute) limit 1) authtime,
				(select time from m_terminal_sim_flow k where r.tsid=k.tsid and r.imsi=k.imsi and k.type=0 and k.time between r.selectdate and adddate(r.selectdate,interval 2 minute) limit 1) firstTime,
				(select min(time) from m_terminal_sim_flow kk where r.tsid=kk.tsid and r.imsi=kk.imsi and kk.time>r.selectdate and kk.type=4) lastTime
		from m_select_card r
		where 1=1
		<if test="tsid!=null">
			and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null">
			and r.imsi=#{imsi,jdbcType=BIGINT}
		</if>
		<if test="startDate!=null">
			and (r.selectdate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		order by r.selectdate desc
	</select>

	<select id="listSelectCardLog2" parameterType="java.util.Map" resultType="com.team.model.SelectCard">
		select  r.tsid,
		r.imsi,
		r.released,
		r.selectdate,
		t.authtime,
		(select time from m_terminal_sim_flow k where r.tsid=k.tsid and r.imsi=k.imsi and k.type=0 and k.time between t.authtime and adddate(t.authtime,interval 1 minute) limit 1) firstTime,
		(select min(time) from m_terminal_sim_flow kk where r.tsid=kk.tsid and r.imsi=kk.imsi and kk.time>t.authtime and kk.type=4) lastTime
		from m_select_card r
		left join m_auth_log t on r.tsid=t.tsid and r.imsi=t.imsi and t.authtime between r.selectdate and adddate(r.selectdate,interval 1 minute)
		where 1=1
		<if test="tsid!=null">
			and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null">
			and r.imsi=#{imsi,jdbcType=BIGINT}
		</if>
		<if test="startDate!=null">
			and (r.selectdate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		order by r.selectdate desc
	</select>

	<select id="listSelectCardLog1" parameterType="java.util.Map" resultType="com.team.model.SelectCard">
		select  r.tsid,
		r.imsi,
		r.released,
		r.selectdate,
		t.authtime,
		k.time firstTime,
		(select min(time) from m_terminal_sim_flow kk where r.tsid=kk.tsid and r.imsi=kk.imsi and kk.time>k.time and kk.type=4) lastTime
		from m_select_card r
		left join m_auth_log t on r.tsid=t.tsid and r.imsi=t.imsi and t.authtime between r.selectdate and adddate(r.selectdate,interval 1 minute)
		left join m_terminal_sim_flow k on r.tsid=k.tsid and r.imsi=k.imsi and k.type=0 and k.time between t.authtime and adddate(t.authtime,interval 1 minute)
		where 1=1
		<if test="tsid!=null">
			and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null">
			and r.imsi=#{imsi,jdbcType=BIGINT}
		</if>
		<if test="startDate!=null">
			and (r.selectdate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		order by r.selectdate desc
	</select>

</mapper>