<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SelectCardDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<select id="listUnnormal" resultType="com.team.model.SelectCard" parameterType="java.util.Map">
		select r.tsid,
			   r.released,
			   r.mcc,
			   concat(o.operatornamecn,' (',o.operatorCode,')') operatorName,
			   r.result_code,
			   r.assistant,
			   r.selectDate,
			   d.name departmentName
		from m_select_card r
		left join m_operator o on r.operator=o.operatorCode
		left join m_terminal t on r.tsid=t.tsid
		left join m_department d on t.departmentId=d.id
		where r.result_code != 0
		<if test="tsid!=null">
			  and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="departmentId != null">
			  and d.id=#{departmentId,jdbcType=INTEGER}
		</if>
		<if test="startDate!=null">
			  and (r.selectDate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		<include refid="dId"></include>
		order by r.selectDate desc
	</select>

	<select id="listSelectCardLog" parameterType="java.util.Map" resultType="com.team.model.SelectCard">
		select  r.tsid,
				r.imsi,
				r.released,
				r.selectdate,
				(select min(rr.selectdate) from m_select_card rr where rr.tsid=r.tsid and rr.imsi=r.imsi and rr.selectdate>r.selectdate) refSelectDate,
				(select authtime from m_auth_log t where r.imsi=t.imsi and r.tsid=t.tsid and t.authtime between r.selectdate and adddate(r.selectdate,interval 5 minute) limit 1) authtime,
				(select time from m_terminal_sim_flow k where r.tsid=k.tsid and r.imsi=k.imsi and k.type=0 and k.time between r.selectdate and adddate(r.selectdate,interval 5 minute) limit 1) firstTime,
				(select min(time) from m_terminal_sim_flow kk where r.tsid=kk.tsid and r.imsi=kk.imsi and kk.time>r.selectdate and kk.type in(3,4)) lastTime,
			    (select d.name from m_department d,m_terminal t where r.tsid=t.tsid and t.departmentid=d.id) departmentName
		from m_select_card r
		where 1=1
		<if test="tsid!=null">
			and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="imsi!=null">
			and r.imsi=#{imsi,jdbcType=BIGINT}
		</if>
		<if test="departmentId != null">
			and exists(select 1 from m_department d,m_terminal t where r.tsid=t.tsid and t.departmentid=d.id and d.id=#{departmentId,jdbcType=INTEGER})
		</if>
		<if test="startDate!=null">
			and (r.selectdate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		<if test="dId != null">
			and exists(select 1 from m_department d,m_terminal t where r.tsid=t.tsid and t.departmentid=d.id and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER}))
		</if>
		order by r.selectdate desc
	</select>

	<select id="listNoCard" resultType="com.team.dto.SelectCardDTO" parameterType="java.util.Map">
		select  t.departmentId,
				r.tsid,
				r.result_code,
				max(r.selectdate) selectdate,
				(select phoneNumber from tb_send_message_phone  where departmentId = t.departmentId) phoneNumber
		from m_select_card r,m_terminal t
		where r.tsid=t.tsid
		  and r.result_code = 1
		<if test="startDate!=null">
			and (r.selectDate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		group by t.departmentId,r.tsid,r.result_code
		order by t.departmentId,selectdate desc
	</select>

	

</mapper>