<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SimCardDao">

	<select id="getSimCardByPool" resultType="com.team.model.SimCard">
		select id,number,status,cpchannelId
		from m_simcard
		where cpid=#{cpId,jdbcType=INTEGER}
		order by cpchannelId
	</select> 
	
	<select id="getPackageExist" resultType="String">
		select '1' result from dual where 
		exists (select 1 from m_simcard r where r.packageid=#{packageId,jdbcType=INTEGER})
	</select>
	
	<select id="getSimCard" parameterType="java.util.Map" resultType="com.team.model.SimCard">
		select r.* 
		from m_simcard r
		where 1=1
		<if test="cpid != null">
			and r.cpid=#{cpId,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and r.status=#{status,jdbcType=INTEGER}
		</if>
		<if test="departmentId != null">
			and r.departmentId=#{departmentId,jdbcType=INTEGER}
		</if>
		<if test="number != null and number != ''">
			and r.number=#{number,jdbcType=VARCHAR}
		</if>
		order by r.cpid,r.cpchannelid
	</select>
	
	<select id="getOutlineInfo"  resultType="com.team.vo.OutlineInfo">
		select count(1) simCardCount,
			   sum(case when status=0 then 1 else 0 end) onCardCount,
	     	   sum(case when status=1 then 1 else 0 end) stopCardCount,
               sum(case when status=2 then 1 else 0 end) appointCardCount,
               sum(case when status=3 then 1 else 0 end) readCardCount,
	           sum(case when status=4 then 1 else 0 end) offCardCount
		from  m_simcard r
		<if test="departmentId != null">
			and r.departmentId=#{departmentId,jdbcType=INTEGER}
		</if>
	</select>
	
	<delete id="deleteSimCard" parameterType="java.util.List">
		delete from m_simcard
		where status=4
		  and id in(<foreach collection="list" item="item">#{item,,jdbcType=INTEGER}</foreach>)
	</delete>
	
	<delete id="updateCardDept" parameterType="com.team.model.SimPool">
		update m_simcard
		set departmentId=#{departmentId,jdbcType=INTEGER}  
		where cpId = #{id,jdbcType=INTEGER}
	</delete>
</mapper>