<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SimCardDao">

	<select id="getSimCardByPool" resultType="com.team.model.SimCard">
		select id,number,status,cpchannelId
		from m_simcard
		where cpid=#{cpId,jdbcType=INTEGER}
		order by cpchannelId
	</select> 
	
	<select id="getPackageExist" resultType="String">
		select '1' result from dual where 
		exists (select 1 from m_simcard r where r.packageid=#{packageId,jdbcType=INTEGER})
	</select>
	
</mapper>