<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SimPoolDao">

	<sql id="departmentId">
		<if test="departmentId!=null" >  
         	and r.departmentId = #{departmentId,jdbcType=INTEGER}  
        </if>
	</sql>

	<select id="getSimPoolByDeparment" resultType="com.team.model.SimPool" parameterType="java.util.Map">
		select r.*,
			   t.name departmentName 
		from m_simpool r
		left join m_department t
		on r.departmentId=t.id
		   and t.status=0
		where 1=1
		<include refid="departmentId"/>
		<if test="spid!=null" >  
         	and r.spid = #{spid,jdbcType=INTEGER}  
        </if>
		<if test="isActive!=null" >  
         	and r.isActive = #{isActive,jdbcType=INTEGER}  
        </if>
        <if test="name!=null and name!=''" >  
         	and r.name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        order by r.spid
	</select> 
	
	
	<select id="getOutlineInfo" resultType="com.team.model.OutlineInfo">
		select (select count(1) from m_simpool r where 1=1 <include refid="departmentId"/>) as simPoolCount,
			   (select count(1) from m_simpool r where isActive=1 <include refid="departmentId"/>) as onlinePoolCount,
			   (select sum(ifnull(type,0)) from m_simpool r where 1=1 <include refid="departmentId"/>) as cardSlotCount,
			   (select count(1) from m_simpool r,m_simcard t where r.id=t.cpid <include refid="departmentId"/>) as simCardCount 
		from dual
	</select>
</mapper>