<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.SimPackageDao">

	<sql id="dId">
		<if test="dId!=null">
			and (d.id = #{dId,jdbcType=INTEGER} or d.parentId=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<select id="getPackageList" parameterType="java.util.Map" resultType="com.team.model.SimPackage">
		select
			 r.id
		    ,r.name
		    ,r.operatorCode
		    ,r.maxFlow
		    ,r.maxRoamFlow
		    ,r.status
		    ,r.level
		    ,r.mccs
		    ,r.departmentId
			,d.name departmentName
			,concat(OPERATORNAMECN,' (',r.operatorCode,')') operatorName
		from m_simpackage r
		left join m_department d
		on r.departmentid=d.id and d.status=0
		left join m_operator t
		on r.OPERATORCODE=t.OPERATORCODE
		where 1=1
		<if test="status!=null">
			and r.status = #{status,jdbcType=INTEGER}
		</if>
		<if test="name!=null and name!=''">
			and r.name like concat('%',#{name,jdbcType=VARCHAR},'%')
		</if>
		<include refid="dId"></include>
		order by r.status,r.level desc
	</select>


	<!--<update id="deletePackage">-->
		<!--update m_simpackage-->
		<!--set status=1-->
		<!--where-->
		<!--id=#{id,jdbcType=INTEGER}-->
	<!--</update>-->
	
	<delete id="deletePackage">
		delete from m_simpackage
		where id=#{id,jdbcType=INTEGER}
	</delete>

	<update id="updatePackage" parameterType="com.team.model.SimPackage">
		update m_simpackage
		set NAME = #{name,jdbcType=VARCHAR},
			OPERATORCODE = #{operatorCode,jdbcType=INTEGER},
			MAXFLOW = #{maxFlow,jdbcType=INTEGER},
			MAXROAMFLOW = #{maxRoamFlow,jdbcType=INTEGER},
			LEVEL = #{level,jdbcType=INTEGER},
			MCCS = #{mccs,jdbcType=VARCHAR},
			status=#{status,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<insert id="insertPackage" parameterType="com.team.model.SimPackage" useGeneratedKeys="true" keyProperty="id">
		insert into m_simpackage 
		(NAME, OPERATORCODE,MAXFLOW, MAXROAMFLOW,LEVEL, MCCS,status,departmentid)
		values 
		(#{name,jdbcType=VARCHAR}, #{operatorCode,jdbcType=INTEGER},
		#{maxFlow,jdbcType=INTEGER}, #{maxRoamFlow,jdbcType=INTEGER},
		#{level,jdbcType=INTEGER},
		#{mccs,jdbcType=VARCHAR},0,#{departmentId,jdbcType=INTEGER})
	</insert>
	
	<select id="getPackage" resultType="com.team.model.SimPackage">
		select * from m_simpackage
		where id=#{id,jdbcType=INTEGER}
	</select>
</mapper>