<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.StatDao">

	<select id="queryTerminalCount" resultType="com.team.vo.stat.TerminalCount">
		select r.stat_date,
			   (select count(1) from m_terminal t where date_format(t.createDate,'%Y-%m-%d')=r.stat_date) active_num,
			   (select count(1) from m_terminal t where date_format(t.createDate,'%Y-%m-%d')&lt;=r.stat_date) total_num
		from(
			select subdate(current_date,interval '6' day) stat_date from dual
			union
			select subdate(current_date,interval '5' day) from dual
			union
			select subdate(current_date,interval '4' day) from dual
			union
			select subdate(current_date,interval '3' day) from dual
			union
			select subdate(current_date,interval '2' day) from dual
			union
			select subdate(current_date,interval '1' day) from dual
			union
			select current_date from dual
		) r
	</select>
	
	<select id="queryTerminalCost" resultType="com.team.vo.stat.TerminalCost">
		select tsid,
			   round(sum(flow)/1024/1024,2) flow
		from  m_cost_day
		where date>=DATE_ADD(current_date(),interval - day(current_date())+1 day)
		group by tsid
		order by 2 desc
		limit 10
	</select>

	
	<select id="stat" resultType="com.team.vo.stat.StatBean">
		<![CDATA[
			select *,null d_t_count,null t_t_count from
			(select
				(select count(1) from m_terminal where createDate>=DATE_ADD(current_date(),interval - day(current_date())+1 day)) m_t_count,
				(select round(ifnull(sum(flow),0)/1024/1024,2) from m_cost_day where date=current_date) d_user_flow,
				(select round(ifnull(sum(flow),0)/1024/1024,2) from m_flow_day where date=current_date) d_card_flow,
				(select round(ifnull(sum(flow),0)/1024/1024,2) from m_cost_day where date>=DATE_ADD(current_date(),interval - day(current_date())+1 day)) m_user_flow,
				(select round(ifnull(sum(flow),0)/1024/1024,2) from m_flow_day where date>=DATE_ADD(current_date(),interval - day(current_date())+1 day)) m_card_flow,
				(select round(ifnull(sum(chargeflow),0)/1024/1024,2) from m_terminal_charge_record where chargeflow<>100000000000 and chargeflow>0
					and createdate>=DATE_ADD(current_date(),interval - day(current_date())+1 day)) t_charge_flow,
				(select round(ifnull(sum(allowflow),0)/1024/1024,2) from m_flow_balance where allowflow<>100000000000) t_residue_flow,
				(select ifnull(sum(duration),0) from m_cost_day where date>=DATE_ADD(current_date(),interval - day(current_date())+1 day)) t_duration,
				(select count(distinct operator) from m_terminal_charge_record where chargeflow>0 and chargeflow<>100000000000 and createdate>=current_date) c_charge_flow,
				(select count(distinct operator) from m_terminal_charge_record where chargedate is not null and createdate>=current_date) c_charge_date,
				(select count(distinct operator) from m_terminal_charge_record where ((chargeflow>0 and chargeflow<>100000000000) or chargedate is not null) and createdate>=current_date) c_charge_total,
				(select round(sum(t.maxflow)/1024/1024,2) m_max_flow from m_simcard r,m_simpackage t where r.packageId=t.id) m_max_flow,
				(select round(ifnull(sum(usedflow),2)/1024/1024,2) from m_flow_month where date=date_format(DATE_ADD(current_date(),interval - day(current_date())+1 day),'%Y-%m'))m_used_flow
				from dual
			) r,
			(select round(ifnull(sum(case when chargeflow=100000000000 then 0 when chargeflow<0 then 0 else chargeflow end),0)/1024/1024,2) d_charge_flow,
					ifnull(sum(chargedate),0) d_charge_date
			from m_terminal_charge_record
			where createdate>=current_date
			) k
		]]>
	</select>
</mapper>