<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.TerminalSimDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>

	<select id="getTerminalSimByTsid" resultType="com.team.model.TerminalSim">
		select id, imsi, tsid, 
      		   mcc, groupkey, beattime, 
      		   date, reserve, ecardimsi, 
      		   ecardduration, runversion, vcountrycode,
      		   (select sversion from m_terminal t where r.tsid=t.tsid) sversion
		from m_terminal_sim r
		where tsid=#{tsid,jdbcType=INTEGER}
	</select>

	<select id="getTerminalSimByImsi" resultType="com.team.model.TerminalSim">
		select id, imsi, tsid,
      		   mcc, groupkey, beattime,
      		   date, reserve, ecardimsi,
      		   ecardduration, runversion, vcountrycode
		from m_terminal_sim r
		where imsi=#{imsi,jdbcType=BIGINT}
	</select>
	
	<select id="getTerminalSimList" parameterType="java.util.Map" resultType="com.team.model.TerminalSim">
		select r.*
			  ,ifnull(c.namecn,c.countryname) countryName
			  ,d.name departmentName
			  ,concat(o.operatornamecn,' (',o.operatorCode,')') operatorName
			  ,(select sversion from m_terminal mt where r.tsid=mt.tsid) sversion
		from m_terminal_sim r
		left join m_country c on c.countrycode=r.vcountrycode
		left join m_terminal t on t.tsid=r.tsid
		left join m_department d on t.departmentId=d.id and d.status=0
		left join m_simcard s on s.imsi=r.imsi
		left join m_operator o on o.operatorCode=s.operatorCode
		where 1=1
		<if test="imsi!=null">
			and r.imsi = #{imsi,jdbcType=BIGINT}
		</if>
		<if test="tsid!=null">
			and r.tsid = #{tsid,jdbcType=INTEGER}
		</if>
		<if test="departmentId!=null">
			and d.id = #{departmentId,jdbcType=INTEGER}
		</if>
		<include refid="dId"></include>
		order by r.date desc
	</select>
	
	<delete id="deleteTerminalByTsid">
		delete from  m_terminal_sim
		where tsid = #{tsid,jdbcType=INTEGER}
	</delete>

	<select id="getByTsid" resultType="com.team.model.TerminalSim">
		select * from m_terminal_sim
		where tsid = #{tsid,jdbcType=INTEGER}
	</select>
	
</mapper>