<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.TerminalVersionDao">
    
    <select id="list" resultType="com.team.model.TerminalVersion">
        select * from m_terminal_version
        order by tVersion desc
    </select>
    
    <insert id="save" parameterType="com.team.model.TerminalVersion">
        insert into m_terminal_version
        (tVersion,oVersion,`describe`,downUrl,status,`type`,operatorMan,operatorTime,terminalList)
        VALUES
        (
          #{tVersion,jdbcType=VARCHAR},
          #{oVersion,jdbcType=VARCHAR},
          #{describe,jdbcType=VARCHAR},
          #{downUrl,jdbcType=VARCHAR},
          #{status,jdbcType=INTEGER},
          #{type,jdbcType=INTEGER},
          #{operatorMan,jdbcType=VARCHAR},
          #{operatorTime,jdbcType=TIMESTAMP},
          #{terminalList,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.team.model.TerminalVersion">
        update m_terminal_version
        set tVersion = #{tVersion,jdbcType=VARCHAR},
            oVersion = #{oVersion,jdbcType=VARCHAR},
            `describe` = #{describe,jdbcType=VARCHAR},
            downUrl = #{downUrl,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            `type` = #{type,jdbcType=INTEGER},
            operatorMan = #{operatorMan,jdbcType=VARCHAR},
            operatorTime = #{operatorTime,jdbcType=TIMESTAMP},
            terminalList = #{terminalList,jdbcType=VARCHAR}
        where id=#{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from m_terminal_version
        where id in
        <foreach collection="list" close=")" open="(" separator="," item="item">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>