<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.TerminalChargeRecordDao">

	<sql id="dId">
		<if test="dId != null">
			and (d.id=#{dId,jdbcType=INTEGER} or d.parentid=#{dId,jdbcType=INTEGER})
		</if>
	</sql>
	
	<select id="list" resultType="com.team.model.TerminalChargeRecord" parameterType="java.util.Map">
		select r.*,
			   d.name departmentName
		from m_terminal_charge_record r
		left join m_terminal t on r.tsid=t.tsid
		left join m_department d on t.departmentId=d.id and d.status=0
		where 1=1
		<if test="tsid!=null">
			and r.tsid=#{tsid,jdbcType=INTEGER}
		</if>
		<if test="startDate!=null">
			and (r.createDate between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP})
		</if>
		<if test="departmentId != null">
			and d.id=#{departmentId,jdbcType=INTEGER}
		</if>
		<include refid="dId"></include>
		order by r.createDate desc
	</select>
	
	<insert id="save" parameterType="com.team.model.TerminalChargeRecord">
		insert into m_terminal_charge_record
		(tsid,chargeFlow,allowFlow,originFlow,chargeDate,validityDate,originDate,operator,createDate)
		values
		(
			#{tsid,jdbcType=INTEGER},
			#{chargeFlow,jdbcType=BIGINT},
			#{allowFlow,jdbcType=BIGINT},
			#{originFlow,jdbcType=BIGINT},
			#{chargeDate,jdbcType=INTEGER},
			#{validityDate,jdbcType=TIMESTAMP},
			#{originDate,jdbcType=TIMESTAMP},
			#{operator,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP}
		)
	</insert>

</mapper>