<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.TerminalSimFLowDao">

	<select id="queryTime" parameterType="java.util.Map" resultType="String">
		select DATE_FORMAT(max(time),'%Y-%m-%d %H:%i:%s') from m_terminal_sim_flow
		where tsid = #{tsid,jdbcType=INTEGER}
		<if test="flag!=null">
			and type=0
		</if>
	</select>

	<select id="getUserInfo" resultType="java.util.TreeMap">
		select power,
			   userCount,
			   signaly,
			   signalType
		from m_terminal_sim_flow
		where tsid = #{tsid,jdbcType=INTEGER}
		  and time>=(select max(beattime) from m_terminal_sim where tsid = #{tsid,jdbcType=INTEGER} )
		order by time desc limit 1
	</select>
	
</mapper>